div(id="bottomPanel")
    div(id='main')
        div(class='bottomPanelText') 8 am - 8 pm
        div(class='bottomPanelText') 55 44 55 32 CDMX
        div(class='bottomPanelText') info@collare.com.mx
        div
            i(class="fab fa-cc-mastercard fa-3x checkoutCards")
            i(class="fab fa-cc-visa fa-3x checkoutCards") 
            i(class="fab fa-cc-amex fa-3x checkoutCards") 
            i(class="fab fa-cc-discover fa-3x checkoutCards")
        