extends layout

block content
  //h1= message
  //h2= error.status
  //pre #{error.stack}
  div(id='main')
        div(id="mainHeader")
          a(href='/') collare
        div(class='row')
            div(class='col')
              div(class='subTitle') lo sentimos, no encontramos lo que buscas, continua en la tienda aqui
              a(href='/product/todo', id="tienda") regresar a la tienda
                
