extends layoutNoShopNav
block content
  div(id="main")
    div(id="mainHeader")
      a(href='/') collare
    div(id="mainPanel")
      div(id="panelOne")
        div(id="picOne")
          div(class='transition') anillos
            br
            br
            br
            a(href='product/anillos' class='explore') ver
        div(id="picTwo")
          div(class='transition') collares
            br
            br
            a(href='product/collares' class='explore') ver
      div(id="panelTwo")
        div(id="picThree")
          div(class='transition') ver todo
            br
            br
            br
            br
            a(href='product/todo' class='explore') ver
      div(id="panelThree")
        div(id="picFour")
          div(class='transition') pulseras
            br
            br
            a(href='product/pulseras' class='explore') ver
        div(id="picFive")
          div(class='transition') aretes
            br
            br
            br
            a(href='product/aretes' class='explore') ver