doctype html
html
  head
    title COLLARE
    // my stylesheet
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //JQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //Popper js for Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    //Bootstrap js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js", integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4", crossorigin="anonymous")
    //FontAwesome
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    //Stripe.js
    //script(src="https://js.stripe.com/v3/")
    script(type="text/javascript", src="https://js.stripe.com/v2/")
    script(type="text/javascript", src="/javascripts/myscript.js")
    //Link to Favicon
    link(rel="icon", type="image/x-icon", href="favicon/favicon.ico")
    link(rel="shortcut icon", href="/favicon/favicon.ico", type="image/ico")
  
  body
    include shop-nav.pug
    block content
