div(id="mainHeader")
  a(href='/') collare
    ul(id="mainNavigation") 
      li  
        a(href="/product/todo") todo
      li 
        a(href="/product/anillos") anillos
      li 
        a(href="/product/collares") collares
      li 
        a(href="/product/aretes") aretes
      li 
        a(href="/product/pulseras") pulseras
      li 
        a(href="/product/ropa") ropa