div(id="socialPanel")
    div(id="socialOne")
        a(href='http://instagram.com' target='_blank')
            i(class="fab fa-instagram fa-2x mySocialFab")
        a(href='http://facebook.com' target='_blank')
            i(class="fab fa-facebook-f fa-2x mySocialFab")
        a(href='http://pinterest.com' target='_blank')
            i(class="fab fa-pinterest-p fa-2x mySocialFab")
        a(href='http://twitter.com' target='_blank')
            i(class="fab fa-twitter fa-2x mySocialFab")
    div(id="socialTwo") 
        div(id="emailText") ¡recibe noticias, ofertas y consejos de estilo!
        input(id="emailInput" type="text" onfocus="this.value=''" value="dirección de correo electrónico")
    div(id="socialThree") 
            button(class='subscribeBtn') suscríbete