extends ../layout
block content
    div(id='main')
        a(href='../product/todo', id="tienda") regresar a la tienda
        div(id="mainHeader")
            a(href='/') collare
        div(class='container')
            div(class='row')
                div(class='col offset-md-2')
                    a(href="/user/login", class='userBtn') Mi Cuenta
                div(class='col')
                    a(href="/user/signup", class='userBtn') Registrate
                
                